*,
*::after,
*::before{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul{
    list-style: none;
}

p{
    padding-top: 30px;
    font-size: 20px;
    line-height: 20px;
    margin-left: 40px;
}

h2{
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

h3{
    margin-top: 16px;
}

span{
    color: red;
    font-weight: 600;
}

body{
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400px;
}

.header{
    background: url(../images/bg-header.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


.container-content{
    max-width: 970px;
    margin: 0 auto;
}

.fish{
    position: absolute;
    content: "";
    width: 325px;
    height: 300px;
    bottom: 122px;
    right: 50px;
}

.header__text{
    color: #fff;
    font-size: 42px;
    text-align: center;
    padding-top: 50px;
}

.header__maintext p{
    text-align: center;
}

.header__text-1{
    font-size: 32px;
    line-height: 24px;
    padding-top: 40px;
}

.header__maintext-2{
    text-align: center;
}


.shark{
    position: absolute;
    content: '';
    left: -6px;
    bottom: -32px;
    z-index: 1;
}

/* .arrow-1{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    bottom: 295px;
    right: 410px;
} */

.arrow-3{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    bottom: 255px;
    right: 350px;
}

.arrow-2{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    bottom: 65px;
    left: 500px;
}

.cards{
    position: absolute;
    content: '';
    width: 200px;
    height: 200px;
    left: 45%;
    top: 45%;
}


.text__fish{
    position: absolute;
    content: '';
    font-size: 20px;
    color: rgb(255, 208, 0);
    bottom: 340px;
    right: 405px;
}

.text__shark{
    position: absolute;
    content: '';
    font-size: 20px;
    color: rgb(255, 208, 0);
    bottom: 142px;
    left: 595px;
}

.header__text-bottom{
    position: absolute;
    content: '';
    color:#fff;
    font-size: 38px;
    bottom: 20px;
    right: 150px;
    letter-spacing: 4px;
}

.section-1{
    min-height: 750px;
    background: rgba(183, 238, 231, 0.507);
}

.dev{
    float: left;
    margin-right: 50px; 
    margin-bottom: 65px;   
}

.devil{
    width: 220px;
    height: 220px;
    margin-top: 20px; 
}

.fsh{
    float: right;
    margin-left: 10px;
    margin-top: 350px;
}

.fish-1{
   width: 250px;
   margin-top: 20px;
  
}

.text__level-1{
    margin-top: 50px;
    padding-bottom: 30px;
    text-align: justify;
}

.text__level-1 p{
    color: #505050;
    line-height: 24px;

    margin-top: 15px;
}

.text__level-1 span{
    color: crimson;
}



/* FOOTER */


.footer{
    background: rgb(90, 198, 241);
    height: 60px;
    width: 100%; 
    margin-top: 30px; 
}

.logo__footer{
    width:50px;
    height: 50px;
}

.footer__wrapper{
    display: flex;
    justify-content: center;
}


/* LEVEL 2 */

.section-2{
    min-height: 750px;
}


.block__one{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.photo-crab{
    width: 250px;
    height: 250px;
    margin-left: 10px;
}

.block__text{
    max-width: 700px;
    text-align: justify;
}

.block__two{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.photo-fish-2{
    width: 220px;
    height: 190px;
}

.photo-fire{
    width: 250px;
    height: 250px;
}

.photo__wrapper{
    display: flex;
    flex-direction: column;
}

.text__task-5{
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 28px;

}




/* LEVEL 3 */


.section-3{
    min-height: 750px;
    background: rgba(255, 254, 206, 0.959);
}

.lesson-3{
    line-height: 40px;
}

.header__lesson-3{
    margin-left: 34px;
    font-size: 20px;
}

.photo__mem{
    width: 350px;
    height: 250px;
    margin-left: 30px;
    float: right;
    box-shadow: 0px 10px 15px 10px #000;
}

.block__text-3{
    padding-bottom: 30px;
}

.numbers__lesson-3{
    color: #000;
}



.block__four-links{
    margin-left: 70px;
}

.block__four-links li a{
    color: crimson;
}

.block__four-warmup{
    margin-left: 70px;
}

.block__four-warmup li{
    list-style: initial ;
}

.block__four-plan{
    margin-left: 70px;
}

.block__four-plan li{
    list-style: initial ;
}


.pages{
    text-align: center;
    margin-top: 50px;
}


  .previous {
    background-color: #f1f1f1;
    color: black;
    padding:0 5px;
  }

  .previous:hover{
    background-color: rgb(176, 226, 222);
    transition: 0.5s;
}
  
  .next {
    background-color: #f1f1f1;
    color: black;
    padding:0 5px;
  }

  .next:hover{
    background-color: rgb(176, 226, 222);
    transition: 0.5s;
}
  
  .round {
    border-radius: 50%;
    padding:6px 14px;
    margin: 0 5px;
  }


/* LEVEL 5 */

.list__lesson-5{
    margin-left: 70px;
    font-weight: bold;
}

.chapter-1{
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

.content__lesson-5{
    margin-top: 40px;
}

.table-5{
    margin: 40px  auto;
    width: 1000px;
}

.vpip{
    float: right;
    margin-left: 50px;
}


.diapazony__img-1{
    width: 250px;
    height: 250px;
}

.diapazony__img-2{
    width: 250px;
    height: 250px;
}


.lesson-5__wrapper{
    display: flex;
    justify-content: space-between;
   align-items: center;
}

.diapazony{
    display: flex;
}


.graf-1{
    display: flex;
    display: table-column;
}

.graf-2{
    display: flex;
    display: table-column;
}

.player{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}











@media (max-width: 1190px){
    .shark{
        width: 300px;
        height: 300px;
        bottom: -19px;
    }
    .fish{
        width: 250px;
        height: 250px;
        bottom: 50px;
    }
    .cards{
        width: 180px;
        height: 180px;
    }
    .arrow-3{
        position: absolute;
    content: '';
    width: 75px;
    height: 75px;
    bottom: 155px;
    right: 280px;
    }
    .arrow-2{
    position: absolute;
    content: '';
    width: 75px;
    height: 75px;
    bottom: 120px;
    left: 320px;
    }
    .text__fish{
    bottom: 220px;
    right: 325px;
    font-size: 16px;
    }
    .text__shark{
        bottom: 162px;
        left: 395px;
        font-size: 16px;
    }
    .header__text-bottom{
        font-size: 20px;
    }
    .photo-crab{
        width: 200px;
        height: 200px;
    }
    .photo-fish-2{
        width: 200px;
        height: 200px;
    }
    .block__text{
        max-width: 600px;
        text-align: justify;
    }
}

@media (max-width: 984px){
    .photo-crab{
        width: 150px;
        height: 150px;
    }
    .photo-fish-2{
        width: 150px;
        height: 150px;
    }
   
    .block__text{
        max-width: 550px;
        text-align: justify;
    }

    .photo__mem{
        width: 250px;
        height: 200px;
    }
}

@media (max-width: 900px){
    .shark{
        width: 250px;
        height: 250px;
        bottom: -16px;
    }
    .fish{
        width: 200px;
        height: 200px;
        bottom: 35px;
        right: 20px;
    }
    .cards{
        width: 200px;
        height: 200px;
    }
    .arrow-3{
    width: 50px;
    height: 50px;
    bottom: 125px;
    right: 225px;
    }
    .arrow-2{
    width: 50px;
    height: 50px;
    bottom: 55px;
    left: 265px;
    }
    .text__fish{
    bottom: 170px;
    right: 250px;
    font-size: 14px;
    }
    .text__shark{
        bottom: 85px;
        left: 315px;
        font-size: 16px;
    }
    .header__text-bottom{
        font-size: 20px;
    }
    .header__text{
        font-size: 22px;
    }
    .header__text-1{
        font-size: 20px;
    }
    .header__maintext{
        font-size: 20px;
    }
        .header__maintext-2{
            font-size: 20px;
        }
        .photo-crab{
            width: 150px;
            height: 150px;
        }
        .photo-fish-2{
            width: 150px;
            height: 150px;
        }
        .photo-fire{
            width: 200px;
            height: 200px;
        }
        .block__text{
            max-width: 550px;
            text-align: justify;
        }
        h3{
            font-size: 14px;
        }
        .photo__mem{
            width: 200px;
            height: 150px;
        }
}




@media (max-width: 670px){
    .shark{
        width: 200px;
        height: 200px;
        bottom: -13px;
    }
    .fish{
        width: 150px;
        height: 150px;
        bottom: 30px;
        right: 10px;
    }
    .cards{
        width: 150px;
        height: 150px;
    }
    .arrow-3{
    width: 50px;
    height: 50px;
    bottom: 80px;
    right: 145px;
    }
    .arrow-2{
    width: 50px;
    height: 50px;
    bottom: 20px;
    left: 190px;
    }
    .text__fish{
    bottom: 110px;
    right: 170px;
    font-size: 14px;
    }
    .text__shark{
        bottom: 50px;
        left: 245px;
        font-size: 16px;
    }
    .header__text-bottom{
        font-size: 20px;
    }
    .header__text{
        font-size: 22px;
    }
    .header__text-1{
        font-size: 20px;
    }
    .header__maintext{
        font-size: 20px;
    }
        .header__maintext-2{
            font-size: 20px;
        }
        .header__text-bottom{
            right: 50px;
            bottom: 5px;
            font-size: 18px;
        }
        .photo-crab{
            width: 150px;
            height: 150px;
        }
        .photo-fish-2{
            width: 150px;
            height: 150px;
        }
        .photo-fire{
            width: 150px;
            height: 150px;   
        }
        .block__text{
            max-width: 550px;
            text-align: justify;
        }
        h3{
            font-size: 14px;
        }
}

#spoiler,#spoiler1, #spoiler2,#spoiler3{
    color: burlywood; 
}
